@model DetailsImovelViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes imovel</h1>

<div>
    <partial name="_Carousel" model="Model.Fotos"/>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Negocio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Negocio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCorretorGestor)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCorretorNegocio)
        </dt>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ImovelId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
