@using Academia.Programador.Bk.Gestao.Imobiliaria.Dominio.ModuloUsuario
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UsuarioViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Usuario</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CorretorId" class="control-label">Escolha o corretor </label>
                <select name="CorretorId" class="form-control">
                    @foreach (CorretorViewModel corretor in ViewBag.Corretores)
                    {
                        <option value="@corretor.CorretorId">@corretor.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="ClienteId" class="control-label">Escolha o cliente </label>
                <select name="ClienteId" class="form-control">
                    @foreach (ClienteViewModel cliente in ViewBag.Clientes)
                    {
                        <option value="@cliente.ClienteId">@cliente.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="PerfilId" class="control-label">Escolha o perfil </label>
                <select name="PerfilId" class="form-control">
                    @foreach (Perfil perfil in Perfil.Perfis)
                    {
                        <option value="@perfil.PerfilId">@perfil.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <span class="text-danger">@Html.ValidationSummary(true,"") </span>
            </div>

            <br/>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
